{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>Edit Profile - {{ form.username.data }} </h1>

    <form action=""  method="post">

    <div class="col-md-6">
        {{ form.hidden_tag() }}

        {{ form.username(size=32) }}
        <!--{{  wtf.form_field(form.username) }} -->

        {{  wtf.form_field(form.about_me  ) }}

        <div style="width: 50%">
        {{  wtf.form_field(form.email) }}
        </div>

        {% if current_user.isSuper == 1 or current_user.isAdmin == 1   %}
            {{  wtf.form_field(form.isadmin) }}
            {{  wtf.form_field(form.isauth) }}
        {% endif %}
        <input class="btn btn-primary" type="submit" value="Submit">

    </div>

    </form>

{% endblock %}
