
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- <h1>Hi, {{ current_user.username }}!</h1> -->

    {% if current_user.isAuth == 1 or current_user.isSuper == 1 %}

        {% if form %}

        <form action=""  method="post">
        {{ form.hidden_tag() }}
        <p>
        {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg', 2, 8)) }}
        <br>

        </form>
        {% endif %}

         <div class="jumbotron">
             <h1>Heading</h1>
             <h3> This is just a demonstration place-holder</h3>
             <div class = "pull-left">
                  <a class="btn btn-info btn-large" href="/dummylink">SELECT</a>
             </div>
         </div>

         <div class="well">
            <h2>Sample Charts</h2>
              <div class="row">

                <div class="col-md-4">
                   <div> <h4>Scatter Plot</h4>
                       <a class="btn btn-danger btn-large" href="/plotlyscatter">SELECT</a>
                   </div>
                </div>
                <div class="col-md-4">
                   <div> <h4>Bar Chart</h4>
                       <a class="btn btn-danger btn-large" href="/plotlybar">SELECT</a>
                   </div>
                </div>

                <div class="col-md-4">
                    <div> <h4>Bubble Chart</h4>
                       <a class="btn btn-danger btn-large" href="/plotlybubble">SELECT</a>
                   </div>
                </div>


               </div>
         </div>

     {% else %}

          <div class="alert alert-info">
               <strong>User Not Authorised</strong> <br> <br>
               Your log-in succeeded, but the administrator has not approved your account registration yet.  Please log-out.
          </div>



     {% endif %}

{% endblock %}
