{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <table class="table">
        <tr valign="top">
            <td width="256px"> <img src="{{ user.avatar(128) }}"></td>
            <td>
		    <h1>User: {{ user.username }} </h1>

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Profile</h4></div>
                <div class="panel-body">

                    {% if user.about_me %}
                        {{ user.about_me }}
                    {% else %}
                         (no information provided)
                    {% endif %}
                    <br><br>
                    email: {{ user.email}}
                </div>

            </div>

            <p>Last seen on: {{ datestring }} </p>

            {% if user.isAdmin == 1 %}
                <span class="label label-success">Admin User</span>
            {% endif %}
            {% if user.isAuth == 0 %}
                <span class="label label-danger">Not Authorised</span>
            {% endif %}
            </td>
        </tr>
    </table>

   {% if user == current_user or current_user.isAdmin == 1 or current_user.isSuper %}
       <p>
           <a href="{{ url_for('edit_profile', username = user.username) }}" class="btn btn-primary">Edit</a>

           <a href="{{ url_for('delete_user', username = user.username) }}" class="btn btn-primary">Delete</a>
       </p>
   {% endif %}

    <hr>


{% endblock %}
