{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


        <table class="table table-hover">
        <!-- <table style="margin-left: 15px;"> -->
        <thead>
            <tr>
                <th></th>
                <th>User-Name</th>
                <th>Super-User</th>
                <th>Admin-User</th>
                <th>Login-Auth</th>
            <tr>
        </thead>

        {% for user in users %}

        <tr>
            <td >
                <a href="{{ url_for('user', username=user.username) }}">
                   <img src="{{ user.avatar(35) }}" />
		         </a>
            </td>

            <td >
                <a href="{{ url_for('user', username = user.username) }}">
                   {{ user.username }}
                </a>
            </td>


            <td >
                 {% if user.isSuper == 1 %}
                     <span class="badge badge-info"> <font color="62f442">Yes </font>  </span>   {% else %}  <span class = "badge"> &nbsp No </span>
                {% endif %}
            </td>

            <td >
                 {% if user.isAdmin == 1 %}
                     <span class="badge badge-info"> <font color="62f442">Yes </font>  </span>   {% else %}  <span class = "badge"> &nbsp No </span>
                 {% endif %}
            </td>

            <td >
                 {% if user.isAuth == 1 %}
                     <span class="badge badge-info"> <font color="62f442">Yes </font>  </span>   {% else %}  <span class = "badge"> &nbsp No </span>
                 {% endif %}
            </td>


        </tr>

        {% endfor %}

        </table>


    <nav aria-label="Pagination">
        <ul class="pagination">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                   <span aria-hidden="true">&larr;</span> Prev Users
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next Users <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
